.sidebar {
    background-color: var(--gray-800);
    border-radius: 8px;
    overflow: hidden;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}
.avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 8px;
    border: solid var(--gray-800);
    margin: 0 auto;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.sidebar footer {
    border-top: 1px solid var(--gray-600);
    margin-top: 1.5rem;
    padding: 1.5rem 2rem 2rem ;
}

.sidebar footer a {
    background: transparent;
    color: var(--green-500);
    border: 1px solid var(--green-500);
    border-radius: 8px;
    height: 50px;
    padding: 0 1.5rem;
    font-weight: bold;
    display: block;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}